= simple_form_for(@vm_problem) do |f|
  = f.error_notification
  = f.input :who_are_you, :label => "What is your virtual login name (i.e. bww01)"
  = f.input :what_is_the_problem
  = f.button :submit, "Report"