.container.well
	.col-md-6
		= simple_form_for @user, html: { method: :put } do |f|
			= f.error_notification
			= f.input :email

			= f.input :password
			= f.input :password_confirmation

			= f.button :submit, "Update"